//colors
$primary-body-color: #242529;
$primary-bg-color: #26282c;
$primary-white-Text: #F0F4F3;
$primary-ToDo-box-color: #3B3E40;
$primary-Doing-box-color: #5088A9;
$primary-Done-box-color: #6C9262;
$primary-Start-btn-color: #4B96CC;
$primary-Short-break-btn-color: #79A464;
$primary-Long-break-btn-color: #E48746;
$primary-green-text:#91AD7B;
$color-black: #171717;
$color-focus: #00ffcc; // A cool, energetic cyan
$bg-dark: #1e1e24;
$color-red:red;
$primary-trash-color:rgb(167, 4, 4);
$primary-edit-color:rgb(223, 146, 3);

//text sizes
$h2-size: 3rem;
$green-font-size: 1.6rem;